:root {
  --orange: #ea6a12;
  --white: #fff;
  --grey-border: #e3e1e1;
  --grey-text: #989898;
  --blue: #07143b;
}
body {
  background-color: #fefaf6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-image: url(../img/login-background-decor.png);
  background-repeat: no-repeat;
  background-position: top right;
}
a {
  text-decoration: none;
}
p {
  color: var(--grey-text);
  margin: 0;
}
.flex-side {
  display: flex;
  align-items: center;
  width: 100%;
}
.space {
  justify-content: space-between;
}
.auth-page {
  padding-left: 150px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 216px;
}
.auth-form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 24px;
  gap: 16px;
}
.auth-form {
  max-width: 430px;
  width: 100%;
}
.orange-text {
  color: var(--orange);
}
.auth-form-inner .input-wrapper {
  width: 100%;
}
.auth-form-inner .input-wrapper input {
  width: 100%;
  border: 1px solid var(--orange);
  border-radius: 30px;
  height: 40px;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
.auth-form h1 {
  color: #07143b;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  margin-bottom: 16px;
}
.logo-auth {
  width: 185px;
}
.checkbox-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
.blue-text {
  color: var(--blue);
}
.main-button {
  padding: 10px 24px;
  border-radius: 20px;
  color: #fff;
  background-color: #ea6a12;
  display: inline-block;
  text-decoration: none;
  margin-top: 24px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  margin-top: 8px;
  border: none;
}
.links-wrapper {
  display: flex;
  gap: 24px;
}
.auth-form-inner .flex-side {
  gap: 40px;
}
.error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

input.error-input {
  border: 1px solid #ff4d4f;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .auth-page {
    gap: 150px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .auth-page {
    gap: 50px;
    padding-left: 50px;
  }
  .auth-form-inner {
    min-width: 400px;
  }
}
@media (min-width: 540px) and (max-width: 1023px) {
  .auth-page {
    gap: 50px;
    padding-left: 50px;
  }
  .auth-form-inner .flex-side {
    gap: 10px;
    flex-wrap: wrap;
  }
}
/* @media (min-width: 280px) and (max-width: 539px) {
.auth-page{
  width: 100% ;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-left:0 ;
  background-image: url(../img/login-background-decor.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0px 30px;
}
.auth-form{
  width: 100%;
}
.auth-form-inner{
  width: 85%;
}
.login-background{
  display: none;
}
} */
@media (min-width: 425px) and (max-width: 539px) {
  .auth-page {
    padding-left: 0px;
    gap: 0px;
  }
  .auth-form {
    padding-left: 40px;
  }
  .auth-form-inner .flex-side {
    gap: 10px;
    flex-wrap: wrap;
  }
}
@media (min-width: 300px) and (max-width: 424px) {
  .login-background {
    display: none;
  }
  .auth-page {
    padding-left: 0px;
    gap: 0px;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth-form {
    max-width: 260px;
    width: 100%;
  }
  .auth-form-inner {
    gap: 5px;
  }
}
