:root {
  --orange: #ea6a12;
  --white: #fff;
  --grey-border: #e3e1e1;
  --grey-text: #989898;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(135deg, #faf2ed 0%, #fcf9ee 100%);
}
html {
  scroll-behavior: smooth;
}
.flex-side {
  display: flex;
  align-items: center;
}
.space {
  justify-content: space-between;
}
.main-header .container {
  padding: 0 32px;
}
.input-wrapper input {
  all: unset;
  height: 28px;
  width: 100%;
}
.main-header {
  padding: 16px 0px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.header-inner .input-wrapper {
  border: 1px solid #e3e1e1;
  max-width: 380px;
  padding: 8px 16px;
  display: flex;
  gap: 10px;
  border-radius: 30px;
  width: 100%;
}
.nav-bar a {
  text-decoration: none;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header-actions a {
  color: #000;
  text-decoration: none;
}
#role {
  font-size: 13px;
  margin-top: 8px;
}
.container {
  padding: 0 40px;
}

.banner-section {
  background-image: url(../img/offers-background.png);

  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;

  padding-top: 93px;
  padding-left: 82px;
  padding-bottom: 74px;

  height: 400px;
  width: 100%;
  box-sizing: border-box;
}
.banner-section h1 {
  margin: 36px 0px;
  font-size: 40px;
  color: #07143b;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.orange-text {
  color: #ea6a12;
}
.banner-section small {
  font-size: 13px;
  font-weight: 400;
}
.banner-section p {
  color: #959895;
  font-weight: 700;
}
.main-button {
  padding: 10px 24px;
  border-radius: 20px;
  color: #fff;
  background-color: #ea6a12;
  display: inline-block;
  text-decoration: none;
  margin-top: 24px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

.heading-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 8px;
}
.menu {
  margin-top: 40px;
}

.menu-category-cards-container .card {
  display: inline-block;
  max-width: calc(100% / 7 - 38px);
  width: 100%;
  margin-right: 40px;
  padding: 24px;
  background-color: #fdfaf8;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.menu-category-cards-container .card p {
  margin: 24px 0px;
  font-weight: 600;
}
.menu-category-cards-container .card:nth-child(7n) {
  margin-right: 0;
}
.add-dish-button {
  margin-top: 24px;
  background: none;
  border: none;
}
.heading-controls {
  padding: 24px;
}
.menu-category-cards-container {
  margin-top: 48px;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 575px;
  gap: 40px;
  align-items: end;
  margin-top: 40px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.promo-card {
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  padding: 40px 20px 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.promo-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.2));
}

.promo-content {
  margin-top: 60px;
}

.promo-content h2 {
  font-size: 40px;
  color: #07143b;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 18px;
}
.promo-content p {
  font-weight: 500;
  color: #959895;
}
.heading-controls h2 {
  font-size: 40px;
  color: #07143b;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 18px;
}
.pizza-category-cards-container .dish-card {
  display: inline-block;
  max-width: calc(100% / 4 - 28px);
  width: 100%;
  margin-right: 32px;
  padding: 24px;
  background-color: #fdfaf8;
  border-radius: 20px;
  margin-bottom: 32px;
  position: relative;
  margin-top: 85px;
  padding-top: 95px;
  vertical-align: top;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.pizza-category-cards-container .dish-card:nth-child(4n) {
  margin-right: 0;
}
.pizza-category-cards-container .dish-card .add-dish-to-the-cart {
  background: none;
  border: none;
}
.dish-card h3 {
  margin-top: 46px;
  margin-bottom: 7px;
  font-size: 18px;
  color: #07143b;
  font-weight: 500;
}
.dish-card .flex-side {
  margin-top: 24px;
}
.price {
  font-weight: 600;
}
.pizza-category-cards-container .dish-card > img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  object-fit: contain;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.15));
}

.trending-orders-cards-container {
  margin-top: 17px;
}
.trending-order-card {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: calc(100% / 3 - 115px);
  background-color: #ffffff;
  border-radius: 30px;
  padding: 24px;
  margin-bottom: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  vertical-align: top;
  margin-right: 103px;
  max-height: 210px;
}
.trending-order-card:nth-child(3n) {
  margin-right: 0;
}
.trending-order-card .card-content {
  max-width: 60%;
}
.trending-order-card img {
  position: absolute;
  right: -74px;
  top: 50%;
  transform: translateY(-50%);
  width: 148px;
  height: 148px;
  object-fit: contain;
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.1));
  z-index: 2;
}
.trending-order-card .card-content h3 {
  margin: 16px 0px;
  font-size: 18px;
  color: #07143b;
  font-weight: 500;
}
.trending-order-card .card-content .flex-side {
  gap: 28px;
}
button {
  background: none;
  border: none;
}
.trending-order-card .card-content p {
  margin-bottom: 16px;
  font-size: 13px;
  color: #959895;
}
.main-footer a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  margin-right: 40px;
}
.main-footer {
  padding: 16px 8px;
  background-color: #fff;
}
.category-button {
  padding: 10px 24px;
  border: 1px solid #ea6a12;
  border-radius: 20px;
  color: #ea6a12;
  transition: 0.3s;
  cursor: pointer;
}
.categories-chips {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 24px;
}
.choose-category-card {
  margin-bottom: 87px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );

  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);

  border-radius: 30px;
  border: 1px solid white;

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}
.category-button-active {
  background-color: #ea6a12;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
h4 {
  font-size: 24px;
  color: #07143b;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.choose-category-card .heading-controls {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.my-cart-card {
  padding: 24px;
  background-color: #fff;
  border-radius: 30px;
}
.my-cart-card h4 {
  margin-bottom: 43px;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 120px;
  background: #ffffff;
  padding: 7px 30px;
  z-index: 1000;
  transition: all 0.5s ease;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: start;
}

/* .nav-bar:hover {
  width: 260px;
} */

.nav-bar .nav-links li {
  list-style: none;
  margin: 8px 0;
}

.nav-bar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  height: 50px;
}

.nav-bar .link_name {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.nav-bar:hover .link_name {
  opacity: 1;
  margin-left: 15px;
}

.main-content {
  margin-left: 120px;
}
.main-header {
  margin-left: 120px;
}
.main-footer {
  margin-left: 120px;
}

/* 
.nav-bar:hover ~ .main-content {
  left: 260px;
  width: calc(100% - 260px);
} */
.navigation-small-logo {
  margin-bottom: 31px;
  margin-top: 10px;
}
.menu-category-cards-container .active-menu-category {
  background-color: #ef9455;
  color: #fff;
  transition: 0.3s;
}
.active-menu-category svg rect {
  fill: #fff;
}
.active-menu-category svg path {
  stroke: #ea6a12;
}
.nav-bar.open {
  width: 260px;
}

.logo-details {
  position: relative;

  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-small-logo,
.logo-big {
  position: absolute;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease,
    transform 0.5s ease;
}

.logo-big {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  margin-top: -40px;
}

.navigation-small-logo {
  opacity: 1;
  visibility: visible;
}

.nav-bar.open .navigation-small-logo {
  opacity: 0;
  visibility: hidden;
}

.nav-bar.open .logo-big {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.logo-big {
  margin-top: -40px;
}

.open-nav-links {
  display: none;
  overflow-y: auto;
  height: calc(100% - 150px);
  width: 100%;
}

.nav-bar.open .open-nav-links {
  display: block;
}

.nav-bar.open .nav-links {
  display: none;
}

.open-nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.open-nav-links li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
  color: #333;
  cursor: pointer;
  white-space: nowrap;
}

.open-nav-links svg {
  min-width: 24px;
}

.open-nav-links small {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #959895;
  font-size: 14px;
  margin-left: 10px;
  letter-spacing: 1px;
}

.nav-links {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-links li a img {
  position: relative;
}

.nav-bar.open .logo-details {
  justify-content: center;
  width: 100%;
}

.logo-big {
  left: 50%;
  transform: translateX(-50%) translateY(-20px) !important;
}

.nav-bar.open .logo-big {
  left: 50%;
  transform: translateX(-50%) translateY(0) !important;
  display: block;
  opacity: 1;
  visibility: visible;
  top: 10px;
}

.logo-details {
  position: relative;

  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.navigation-small-logo,
.logo-big {
  position: absolute;
  left: 50%;
  top: 50%;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease,
    transform 0.5s ease;
}

.navigation-small-logo {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.logo-big {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  transform: translate(-50%, -50%) scale(0.8);
}

.nav-bar.open .navigation-small-logo {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.8);
}

.nav-bar.open .logo-big {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.nav-links {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-links {
  margin-top: 16px;
  border-bottom: 1px solid #e3e1e1;
}
.open-nav-links ul li {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 16px;
  color: #959895;
}
.nav-bar.open {
  padding: 7px 26px;
}
.pages-links {
  margin-top: 16px;
  border-bottom: 1px solid #e3e1e1;
}
.elements-links {
  margin-top: 16px;
  border-bottom: 1px solid #e3e1e1;
}
.navigation-link-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}
.open-nav-links .flex-side {
  width: 100%;
}
.nav-bar.open ~ body {
  margin-left: 120px;
}

body:has(.nav-bar.open) {
  margin-left: 120px;
}

body {
  transition: all 0.5s ease;
}
.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-left: 40px;
}

.cart-item-bg {
  position: absolute;
  left: 0;
  right: 15px;
  top: 0px;
  bottom: 0px;
  background: #fff8f1;
  border-radius: 50px;
  z-index: 1;
}

.cart-item-img {
  position: relative;
  z-index: 2;
  width: 116px;
  height: 116px;
  margin-left: -45px;
  object-fit: cover;
  filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.15)); /* Тень самой пиццы */
}

.cart-item-info {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  white-space: nowrap;
}

.pizza-name {
  margin: 0;
  font-weight: 700;
  color: #1a202c;
}

.pizza-count {
  color: #ea6a12;
  font-weight: 600;
}

.cart-item-actions {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 60%;
}

.pizza-price {
  font-weight: 700;
  color: #2d3748;
  display: none;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.cart-item-container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 44px;
  align-items: center;
}
.my-cart-card .main-button {
  display: inline-block;
  margin-top: 0;
}
.trending-orders {
  padding-bottom: 50px;
}
@media (min-width:1140px) and (max-width: 1919px){
 .dashboard-grid{
  grid-template-columns: 1fr 400px;
  gap: 30px;
 }
 .nav-bar{
  width: 85px;
  height: 100%;
 }
 .main-header {
    margin-left: 70px;
}
.main-footer {
    margin-left: 70px;
}
.main-content {
    margin-left: 70px;
}
.promo-image{
  width: 300px;
}
.menu-category-cards-container .card {
    max-width: calc(100% / 7 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}
.category-image{
  width: 46px;
}
.menu-category-cards-container .card p {
    margin: 15px 0px;
    font-weight: 600;
    font-size: 14px;
}
.heading-controls{
  padding: 0;
}
.menu-category-cards-container {
    margin-top: 0px;
}
.menu-category-cards-container {
        margin-top: 30px;
    }
    .pizza-category-cards-container .dish-card > img {
    width: 110px;
}
.pizza-category-cards-container .dish-card{
  padding-top: 40px;
}
.trending-order-card img {
           right: -40px;
        width: 100px;
}
.trending-order-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: calc(100% / 3 - 60px);
    background-color: #ffffff;
    border-radius: 30px;
    padding: 24px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    vertical-align: top;
    margin-right: 60px;
    max-height: 210px;
}
.trending-order-card .card-content p {
    margin-bottom: 5px;
    font-size: 11px;
    color: #959895;
}
.trending-order-card .card-content h3{
  margin: 10px 0px;
  font-size: 16px;
}
.orange-text {
    color: #ea6a12;
    font-size: 11px;
}
.trending-orders {
     padding-bottom: 0px;
}
.pizza-category-cards-container .dish-card {
   
    max-width: calc(100% / 4 - 26px);
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
   
}
.categories-chips {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.category-button{
      padding: 8px 14px;
      font-size: 14px;
}
.cart-item-img{
      width: 85px;
      height: 85px;
}
.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}
.cart-item-bg{
      top: 12px;
    bottom: 12px;
}
.pizza-name{
  font-size: 14px;
}
.my-cart-card h4 {
    margin-bottom: 20px;
}
.choose-category-card
{margin-bottom: 30px;}
.sidebar{
  gap: 30px;
}
}